*.a
*.core
*.lo
*.nossppico
*.o
*.orig
*.pico
*.pieo
*.po
*.rej
*.so
*.so.[0-9]*
*.sw[nop]
*~
.*DS_Store
.cache
.clangd
.ccls-cache
.depend*
compile_commands.json
compile_commands.events.json
tags
build/
out/
.linux-obj/
