[submodule "depends/libnbtplusplus"]
    path = libraries/libnbtplusplus
    url = https://github.com/PrismLauncher/libnbtplusplus.git
    pushurl = git@github.com:MultiMC/libnbtplusplus.git
    ignore = all
