# cgit
# SPDX-FileCopyrightText: 2006-2014 cgit Development Team
# SPDX-FileCopyrightText: 2026 Project Tick
# SPDX-FileContributor: Project Tick
# SPDX-License-Identifier: GPL-2.0-only

* text=auto eol=lf
*.c text diff=c
*.h text diff=c
*.css text
*.js text
*.txt text
*.html text
*.png binary
